---
import Typography from "~/components/typography.astro"
import { MORAY_EXPERIENCE } from "~/constants/experiences"
import { formatDate } from "~/utils/date"
---

<div>
  <div>
    <Typography variant="title3" affect="emphasized">
      {MORAY_EXPERIENCE.title}
    </Typography>

    <Typography
      variant="headline"
      affect="regular"
      class="text-foreground-secondary mt-0.5">
      <span>{MORAY_EXPERIENCE.company}</span>
      <span>·</span>
      <span>{formatDate(MORAY_EXPERIENCE.from)}</span>
      <span>—</span>
      <span>{formatDate(MORAY_EXPERIENCE.to)}</span>
    </Typography>
  </div>

  <Typography class="mt-4" variant="body">
    {MORAY_EXPERIENCE.description}
  </Typography>

  <div class="mt-3.5">
    {
      MORAY_EXPERIENCE.skills.map((skill) => (
        <Typography
          element="span"
          variant="subheadline"
          affect="emphasized"
          class="bg-foreground-quaternary/20 mt-2 mr-2 inline-block rounded-full px-2.5 py-1.5">
          {skill}
        </Typography>
      ))
    }
  </div>
</div>
