---
import { formatDate } from "~/utils/date"
import type { TExperience } from "~/constants/experiences"
import { EXPERIENCES } from "~/constants/experiences"
import ExternalLink from "~/components/external-link.astro"

type Props = {
  experiences?: TExperience[]
  company?: string
}

const props = Astro.props
---

<div class="[&>*+*]:mt-8">
  {
    (props.experiences ?? EXPERIENCES).map((experience) =>
      "experiences" in experience ? (
        <Astro.self
          company={experience.company}
          experiences={experience.experiences as unknown as TExperience[]}
        />
      ) : (
        <div class="flex flex-col gap-y-3.5">
          <div class="flex flex-col justify-between sm:flex-row sm:items-center">
            <p class="text-secondary-foreground font-semibold">
              <span>{experience.title}</span>
              <ExternalLink class="text-foreground" href={experience.url}>
                @ {props.company ?? experience.company}
              </ExternalLink>
            </p>

            <p class="text-accent-foreground mt-1">
              <span>{formatDate(experience.from)}</span>
              <span> — </span>
              <span>{formatDate(experience.to!)}</span>
            </p>
          </div>

          <p>{experience.description}</p>

          <div class="flex flex-wrap gap-2">
            {experience.skills.map((skill) => (
              <span class="text-3xs bg-accent text-accent-foreground inline-block shrink-0 rounded-full px-2.5 py-1.5 font-medium">
                {skill}
              </span>
            ))}
          </div>
        </div>
      ),
    )
  }
</div>
