---
import { env } from "~/env"
import { SECTIONS } from "~/constants/sections"
import { LINKS } from "~/constants/links"
import GitHub from "~/icons/github.astro"
import Gmail from "~/icons/gmail.astro"
import LinkedIn from "~/icons/linkedin.astro"
import { AUTHOR, DESCRIPTION, JOB_TITLE } from "~/constants/seo"
import Link from "~/components/link.astro"

type Props = astroHTML.JSX.HTMLAttributes

const props = Astro.props
---

<header {...props}>
  <hgroup>
    <h1>
      <Link
        class="text-foreground text-3xl font-semibold"
        href={env.getCanonicalURL(Astro.site!, Astro.url)}>
        {AUTHOR}
      </Link>
    </h1>

    <h2 class="text-secondary-foreground mt-1">
      {JOB_TITLE}
    </h2>

    <h3 class="text-accent-foreground mt-6 max-w-2xs text-sm">
      {DESCRIPTION}
    </h3>
  </hgroup>

  <nav class="mt-16 hidden lg:block">
    <ol class="[&>li+li]:mt-2">
      {
        SECTIONS.map((section) => (
          <li
            id={section.LINK_ID}
            class="text-muted-foreground data-[active=true]:text-foreground data-[active=false]:hover:text-accent-foreground data-[active=false]:active:text-secondary-foreground data-[active=false]:focus-visible:text-accent-foreground">
            <Link class="text-xs font-semibold uppercase" href={section.HREF}>
              {section.TITLE}
            </Link>
          </li>
        ))
      }
    </ol>
  </nav>

  <nav class="mt-6 place-content-end lg:mt-0 [&>a+a]:ml-3">
    {
      LINKS.map((LINK) => {
        let Icon: astroHTML.JSX.Element

        switch (LINK.ID) {
          case "github":
            Icon = GitHub
            break
          case "gmail":
            Icon = Gmail
            break
          case "linkedin":
            Icon = LinkedIn
            break
        }

        return (
          <a
            href={LINK.HREF}
            aria-label={LINK.LABEL}
            target="_blank"
            class="text-muted-foreground hover:text-accent-foreground focus-visible:text-accent-foreground active:text-secondary-foreground inline-block">
            <Icon class="h-6" />
          </a>
        )
      })
    }
  </nav>
</header>
