---
import { env } from "~/env"
import Typography from "~/components/typography.astro"
import { SECTIONS } from "~/constants/sections"
import { LINKS } from "~/constants/links"
import GitHub from "~/icons/github.astro"
import Gmail from "~/icons/gmail.astro"
import LinkedIn from "~/icons/linkedin.astro"

type Props = astroHTML.JSX.HTMLAttributes

const props = Astro.props
---

<header {...props}>
  <hgroup>
    <h1>
      <Typography
        variant="largeTitle"
        affect="emphasized"
        element="a"
        href={env.getCanonicalUrl(Astro.site!, Astro.request.url)}>
        João Procópio
      </Typography>
    </h1>

    <Typography
      variant="headline"
      affect="emphasized"
      element="h2"
      class="mt-1">
      Software Engineer
    </Typography>

    <Typography
      variant="callout"
      affect="regular"
      element="h3"
      class="text-foreground-secondary mt-6 max-w-2xs">
      I'll help you turn your product into something special.
    </Typography>
  </hgroup>

  <nav class="mt-16 hidden lg:block">
    <ol class="[&>li+li]:mt-2">
      {
        SECTIONS.map((section) => (
          <li
            id={section.LINK_ID}
            data-active="false"
            class="group data-[active=true]:list-disc">
            <Typography
              variant="subheadline"
              affect="emphasized"
              element="a"
              class="text-foreground-tertiary group-data-[active=true]:text-foreground-primary hover:text-foreground-primary focus-visible:text-foreground-primary uppercase"
              href={section.HREF}>
              {section.TITLE}
            </Typography>
          </li>
        ))
      }
    </ol>
  </nav>

  <nav class="mt-6 place-content-end lg:mt-0 [&>a+a]:ml-3">
    {
      LINKS.map((LINK) => {
        let Icon: astroHTML.JSX.Element

        switch (LINK.ID) {
          case "github":
            Icon = GitHub
            break
          case "gmail":
            Icon = Gmail
            break
          case "linkedin":
            Icon = LinkedIn
            break
        }

        return (
          <a
            href={LINK.HREF}
            aria-label={LINK.LABEL}
            target="_blank"
            class="text-foreground-secondary hover:text-foreground-primary focus-visible:text-foreground-primary inline-block">
            <Icon class="h-6" />
          </a>
        )
      })
    }
  </nav>
</header>
