---
import "~/styles/tailwind.css"

import "@fontsource/inter/400.css"
import "@fontsource/inter/500.css"
import "@fontsource/inter/600.css"
import "@fontsource/inter/700.css"

import inter400Woff2 from "@fontsource/inter/files/inter-latin-400-normal.woff2"
import inter500Woff2 from "@fontsource/inter/files/inter-latin-500-normal.woff2"
import inter600Woff2 from "@fontsource/inter/files/inter-latin-600-normal.woff2"
import inter700Woff2 from "@fontsource/inter/files/inter-latin-700-normal.woff2"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={inter400Woff2}
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={inter500Woff2}
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={inter600Woff2}
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={inter700Woff2}
      crossorigin="anonymous"
    />

    <title>João Procópio</title>
  </head>

  <body>
    <slot />
  </body>
</html>
